<div class="do-edit">
  <div class="do-edit-item">
    <%= attachment_image_tag   @do_user, :profile_image, fallback: "no_user_image.png", class: "do-edit-contributor-image" %>
    <%= form_with model: @do, local:true do |f| %>
    <% if flash[:do_edit_alert] %>
    <div class="do_edit_alert_area">
      <p class="do_edit_alert"><%= flash[:do_edit_alert] %></p>
    </div>
    <% end %>
    <div class="do-edit-area">
      <%= f.text_area :do_text, placeholder: "今日のTODOや自分の思考をみんなに共有しよう！", class: "do-edit-text-area js-text" %>
      <div class="count-area">
        <P class="js-text-count pull-right"></P>
      </div>
    </div>
    <div class="do-edit-button-area">
      <%= f.submit "更新", class: "do-edit-button btn btn-success" %>
    </div>
    <% end %>
</div>